.block__center{
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.task__group{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.done{
  text-decoration: line-through;
}

.task__text{
  max-width: 65%;
}